core:
  jwt-signing-key: kbeiTd5Q7rQr7ZLsrv0OhEwSBf5teTqlQWNV5Az+vQ0=
  allowed-ant-paths: /auth-resources/public

server:
  port: 8080

  # 在响应头中添加返回数据所使用的字符集
  # `Content-Type: application/json;charset=UTF-8`
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  datasource:
    url: jdbc:sqlite:app.db
    # Spring Boot 2.0及以上版本, Spring Boot 默认会使用 HikariDataSource
    hikari:
      # 客户端等待从连接池中获取连接的超时时间 (以毫秒为单位)
      connection-timeout: 30000
      # 连接池中维护的最小空闲连接数
      minimum-idle: 5
      # 连接池中维护的最大连接数
      maximum-pool-size: 10
      # 允许连接在连接池中空闲的最长时间 (以毫秒为单位)
      idle-timeout: 600000
      # 池中连接关闭后的最长生命周期 (以毫秒为单位)
      # 使用中的连接永远不会清退, 只有当它关闭时才会在最长生命周期后删除
      max-lifetime: 1800000
      # 从连接池返回的连接的默认自动提交行为
      auto-commit: true

mybatis:
  # 配置 mapper.xml 中 `resultType` 无需写明类的完全限定名
  type-aliases-package: net.wuxianjie.web.domain
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 30
  mapper-locations: classpath:mapper/*.xml