<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 加载Spring Boot配置 -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- 配置属性 -->
  <!-- 日志文件的存放目录（绝对或相对路径） -->
  <property name="LOG_FILE_DIR" value="logs/"/>
  <!-- 日志文件的名称（不包含扩展名`.log`） -->
  <property name="LOG_FILE_NAME" value="app"/>
  <!-- 每个文件大小的最大估值（非精确值，可以是以字节、KB、MB或GB为单位，默认以字节为单位） -->
  <property name="MAX_FILE_SIZE" value="100MB"/>
  <!-- 保留的归档文件的最大天数 -->
  <property name="MAX_HISTORY" value="60"/>
  <!-- 控制所有归档日志文件的总大小 -->
  <property name="TOTAL_SIZE_CAP" value="20GB"/>

  <!-- 记录日志文件 -->
  <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE_DIR}${LOG_FILE_NAME}.log</file>
    <encoder>
      <!-- 使用Spring Boot的配置 -->
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>${FILE_LOG_CHARSET}</charset>
    </encoder>

    <!-- 滚动日志文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 每日滚存（daily rollover） -->
      <fileNamePattern>${LOG_FILE_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <!-- 设置每个日志文件的最大尺寸应保持在多少大小左右，默认为10MB。
      如果设置了该属性，Logback将在文件大小达到阈值或新的一天开始时生成新的日志文件 -->
      <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
      <!-- 设置Logback最大保存的天数，默认为7天。如果设置了该属性，Logback会删除超过指定天数的归档日志文件 -->
      <maxHistory>${MAX_HISTORY}</maxHistory>
      <!-- 设置所有日志文件的总大小（MB, GB）。如果设置了该属性，Logback将删除最旧的日志文件，以保持总大小不超过指定值 -->
      <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
      <!-- 设置Logback是否在启动时清理存档的日志文件，默认为false。
      设置为true：Logback将在程序启动时，根据`totalSizeCap`和`maxHistory`的值来清理旧的日志文件 -->
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
  </appender>

  <!-- `additivity="false"`：不要追加日志输出至`<root>` -->
  <logger name="org.springframework.transaction" level="TRACE" additivity="false">
    <!-- 查看Spring事务管理是否开启 -->
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="INFO">
    <!-- 控制台输出直接使用Spring Boot的配置 -->
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOG_FILE"/>
  </root>
</configuration>
