server:
  # HTTP 服务监听端口
  port: 8080
spring:
  datasource:
    url: jdbc:sqlite:app.db
    hikari:
      connection-timeout: 30000
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
mybatis:
  type-handlers-package: net.wuxianjie.web.handler
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
core:
  security:
    jwt-signing-key: kbeiTd5Q7rQr7ZLsrv0OhEwSBf5teTqlQWNV5Az+vQ0=
    permit-all-ant-patterns: /api/v1/auth-test/public
