<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.web.loginlog.LoginLogMapper">
  <sql id="whereLoginTimeBetweenAndUsernameLikeAndReqIpLike">
    <where>
      <if test="q.startTimeInclusive != null">
        login_time &gt;= #{q.startTimeInclusive}
      </if>
      <if test="q.endTimeInclusive != null">
        AND login_time &lt;= #{q.endTimeInclusive}
      </if>
      <if test="q.username != null">
        AND username LIKE #{q.username}
      </if>
      <if test="q.reqIp != null">
        AND req_ip LIKE #{q.reqIp}
      </if>
    </where>
  </sql>

  <select id="findByLoginTimeBetweenAndUsernameLikeAndReqIpLikeOrderByLoginTimeDesc"
          resultType="net.wuxianjie.web.loginlog.LoginLog">
    SELECT log_id         AS logId,
           login_time     AS loginTime,
           user_id        AS userId,
           username,
           req_ip         AS reqIp
    FROM login_logs
    <include refid="whereLoginTimeBetweenAndUsernameLikeAndReqIpLike"/>
    ORDER BY login_time DESC
    LIMIT #{p.offset}, #{p.pageSize}
  </select>

  <select id="countByLoginTimeBetweenAndUsernameLikeAndReqIpLike" resultType="int">
    SELECT COUNT(1)
    FROM login_logs
    <include refid="whereLoginTimeBetweenAndUsernameLikeAndReqIpLike"/>
  </select>

  <insert id="save">
    INSERT INTO login_logs (login_time,
                            user_id,
                            username,
                            req_ip)
    VALUES (STRFTIME('%Y-%m-%d %H:%M:%S', #{loginTime}),
            #{userId},
            #{username},
            #{reqIp})
  </insert>
</mapper>
