<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.wuxianjie.web.mapper.OperationLogMapper">

  <select id="getOperationLogs" resultType="OperationLog">
    SELECT
      operation_log_id,
      operation_time,
      user_id,
      username,
      message
    FROM
      operation_log
    WHERE
      operation_time &gt;= #{startTime} AND operation_time &lt;= #{endTime}
    ORDER BY operation_time DESC
    LIMIT #{page.offset}, #{page.pageSize}
  </select>

  <select id="countOperationLog" resultType="int">
    SELECT COUNT(1) FROM operation_log
    WHERE
      operation_time &gt;= #{startTime} AND operation_time &lt;= #{endTime}
  </select>

  <insert id="saveOperationLog">
    INSERT INTO operation_log (operation_time, user_id, username, message)
    VALUES (STRFTIME('%Y-%m-%d %H:%M:%S', #{operationTime}), #{userId}, #{username}, #{message})
  </insert>
</mapper>