<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.web.user.UserMapper">
  <select id="findByUserId" resultType="net.wuxianjie.web.user.User">
    SELECT user_id         AS userId,
           is_enabled      AS enabled,
           username,
           hashed_password AS hashedPassword,
           roles
    FROM users
    WHERE user_id = #{userId}
  </select>

  <select id="findByUsername" resultType="net.wuxianjie.web.user.User">
    SELECT user_id         AS userId,
           is_enabled      AS enabled,
           username,
           hashed_password AS hashedPassword,
           roles
    FROM users
    WHERE username = #{username}
  </select>

  <sql id="whereUsernameLikeAndEnabled">
    <where>
      <if test="q.username != null">
        username LIKE #{q.username}
      </if>
      <if test="q.enabled != null">
        AND is_enabled = #{q.enabled}
      </if>
    </where>
  </sql>

  <select id="findByUsernameLikeAndEnabledOrderByModifyTimeDesc" resultType="net.wuxianjie.web.user.UserItemDto">
    SELECT user_id                                    AS userId,
           STRFTIME('%Y-%m-%d %H:%M:%S', modify_time) AS modifyTime,
           is_enabled                                 AS enabled,
           username,
           IFNULL(roles, '')                          AS roles
    FROM users
    <include refid="whereUsernameLikeAndEnabled"/>
    ORDER BY modify_time DESC
    LIMIT #{p.offset}, #{p.pageSize}
  </select>

  <select id="countByUsernameLikeAndEnabled" resultType="int">
    SELECT COUNT(1)
    FROM users
    <include refid="whereUsernameLikeAndEnabled"/>
  </select>

  <select id="existsByUsername" resultType="boolean">
    SELECT EXISTS(SELECT 1 FROM users WHERE username = #{username})
  </select>

  <insert id="save" useGeneratedKeys="true" keyProperty="userId" parameterType="net.wuxianjie.web.user.User">
    INSERT INTO users (create_time,
                       modify_time,
                       is_enabled,
                       username,
                       hashed_password,
                       roles)
    VALUES (DATETIME(CURRENT_TIMESTAMP, 'localtime'),
            DATETIME(CURRENT_TIMESTAMP, 'localtime'),
            #{enabled},
            #{username},
            #{hashedPassword},
            #{roles})
  </insert>

  <update id="update">
    UPDATE users
    SET modify_time     = DATETIME(CURRENT_TIMESTAMP, 'localtime'),
        hashed_password = #{hashedPassword},
        roles           = #{roles},
        is_enabled      = #{enabled}
    WHERE user_id = #{userId}
  </update>

  <delete id="deleteByUserId">
    DELETE
    FROM users
    WHERE user_id = #{userId}
  </delete>
</mapper>
